header {
    background-color: aqua;
    float: left;
    width: 100%
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    float: left;
}

.container {
    width: 980px;
    margin: auto;
    box-sizing: border-box;
    
}

nav {
    float: right;
    margin-right: 0px;
    margin-top: 15px;
}

a {
    margin-left: 2px;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

section {
    width: 980px;
    margin: auto;
}

#maincontent {
    width: 980px;
    margin: auto;
    box-sizing: border-box;
}